.selector {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  option {
    background-color: black;
    color: black;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2em;
  padding: 1em 0;
  color: white;
  border-radius: 7px;
  .bigChart {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 2em;
  }
}
