@import './variables.scss';

.main {
  margin-top: 6em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
} 

.aside {
}

.menuContent {
  background-color: $background-color;
  border-radius: 11px;
  padding: 2em 2em;
}

.headline {
  grid-column: 1/-1;
  justify-self: center;
  color: $dark-gray;
  font-size: 1.8rem;
  padding: 0.2em 0;
  font-weight: bold;
  background-color: #c9c0af;
  width: 100%;
  text-align: center;
  border-radius: 11px;
}

.categorySection {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: 1em;
}

.section {
  color: $dark-gray;
  & > * + * {
    margin-top: 0.3em;
  }
}

.section h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
}

.sectionElements {
  font-size: 1.2375rem;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1.3fr 1fr;
  color: $tertiary-color;
  gap: 0.5em;
  height: 45px;
  .price {
    text-align: center;
  }
}

.iconWrapper {
  justify-self: end;
  display: flex;
  max-width: 64px;
  width: 64px;
  justify-content: space-between;
  & > * + * {
    margin-left: 1em;
  }
}

.product {
}

.price {
}

@media (max-width: 450px) {
  .menuContent {
    padding: 1em;
  }
}
